/*Custom settings*/ 

body {
	background-color: #000;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

a:hover {
	text-decoration: none;
}

/*custom classes*/

.linear-gradient-yellow-green {
	background: linear-gradient(to right, #FFC500 20%, #75ff75 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-size-lg-130 {
	font-size: 130px;
}

.font-size-sm-30 {
	font-size: 30px;
}

.font-size-sm-45 {
	font-size: 45px;
}

.font-size-35 {
	font-size: 35px;
}

.font-size-20 {
	font-size: 20px;
}

.font-size-14 {
	font-size: 14px;
}

.font-size-13 {
	font-size: 13px;
}

.font-size-11 {
	font-size: 11px;
}

.font-weight-200 {
	font-weight: 200;
}

.font-weight-300 {
	font-weight: 300;
}

.font-weight-100 {
	font-weight: 100;
}

.separator-muted-short {
	width: 30px;
	border: 1px solid #444;
}

.btn {
	color: #000;
	text-transform: uppercase;
	display: inline-block;
	background-color: #fff;
	padding: 8px 25px;
	border: 3px solid #fff;
	border-radius: 50px;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 3px;
	margin-top: 35px;
	transition: ease-in-out .5s;
}

.btn:hover {
	background-color: #000;
	color: #fff;
}

.height-100vh {
	height: 100vh;
}

.sidenav__links-wrapper .mt-60 {
	margin-top: 60px;
}

.sidenav__dropdown1 .mt_0 {
	margin-top: 0;
}

.title-linear-gradient {
	display: inline-block;
  	background: linear-gradient(to right, #FFC500 20%, #75ff75 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-yellow {
	background-color: #FFC500;
}

.bg-green {
	background-color: #75ff75;;
}

.bg-black {
	background-color: #000;
}

.bg-muted-dark {
	background-color: #232323;
}

.text-yellow {
	color:  #FFC500;
}

.text-muted-light {
	color: #A1A0A0;
}

.text-black {
	color: #000;
}

.fb-text-blue {
	color: #3b5998;
}

.instagram-text-red {
	color: #a51026;
}

.twitter-text-light-blue {
	color: #1da1f2;
}

.behance-text-dark-blue {
	color: #053eff;
}

.dribble-text-light-red {
	color: #ea4c89;
}

.text-grey {
	color: #8d8d8d;
}

.text-green {
	color: #75ff75;
}

::placeholder {
	color: #8d8d8d;
	opacity: 1;
	font-size: 12px;
}

.border-muted {
	border: 1px solid #232323;
}

/*.my-35 {
	margin: 35px 0;
}*/

.w-73 {
	width: 73%;
}

.w-85 {
	width: 85%;
}

.w-91 {
	width: 91%;
}

.w-70 {
	width: 70%;
}

.w-80 {
	width: 80%;
}

.w-87 {
	width: 87%;
}

.w-62 {
	width: 62%;
}

.mt-200 {
	margin-top: 200px;
}

.mt-175 {
	margin-top: 175px;
}

.mt-lg-155 {
	margin-top: 155px;
}

.mt-155 {
	margin-top: 155px;
}

.mt-105 {
	margin-top: 105px;
}

.mt-80 {
	margin-top: 80px;
}

.mt-md-75 {
	margin-top: 75px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-15 {
	margin-top: 15px;
}

.mt-10 {
	margin-top: 10px;
}

.my-15 {
	margin: 15px 0;
}

.mx-15 {
	margin: 0 15px;
}

px-15 {
	padding: 0 15px;
}

.py-30 {
	padding: 40px 0;
}

.py-75 {
	padding: 75px 0;
}

.py-150 {
	padding: 150px 0;
}

.pt-140 {
	padding-top: 140px;
}

.py-lg-175 {
	padding: 175px 0;
}

.pt-155 {
	padding-top: 155px;
}

.pb-10 {
	padding-bottom: 10px;
}

.pl-15 {
	padding-left: 15px;
}

.p-sm-100 {
	padding: 100px;
}

.border-top-4-solid-green {
	border-top: 4px solid #75fe75;
}

.border-muted-dark {
	border-color: #232323;
}

.border-yellow {
	border-color: #FFC500;
}

.bg-skills {
	background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),url(../img/bg/bg-skills.jpg) no-repeat center / cover;
}

.bg-subscribe {
	background: url(../img/bg/bg-subscribe.jpg) no-repeat center / cover;

}

.bg-prices {
	background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)),url(../img/bg/bg-prices.jpg) no-repeat top center / cover;
}

.bg-reviews {
	background: linear-gradient(rgba(0,0,0,.84), rgba(0,0,0,.84)), url(../img/bg/bg-reviews.jpg) no-repeat center / cover;
}

.bg-contact {
	background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.9)), url(../img/bg/bg-contact.jpg) no-repeat center / cover;
}

.cursor-pointer {
	cursor: pointer;
}

/* bootstrap */



/* owl carousel 2 */

.owl-nav > button {
	background-color: #000 !important;
	font-size: 32px !important;
	width: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: none;
	outline: none;
}

.owl-carousel:hover .owl-nav > button {
	display: block;
}

.owl-nav > button.disabled {
	display: none;
}

.owl-nav {


}
.owl-next {
	right: 0;
	align-self: flex-end;
	margin-right: 8px;

}

.owl-prev {
	left: 0;
	align-self: center;
	margin-left: 8px;
}

/*main settings*/

/* header settings */

.carousel-top__item {
	height: 100vh;
}

.carousel-top__item__img {
	object-fit: cover;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.carousel-top__item p {
	color: #9d9d9d;
	line-height: 1.3;
	font-size: 20px;
}

.carousel-top__item__main-link  {
	font-size: 11px;
	background-color: #ffc500;
	border: 3px solid #ffc500;
	border-radius: 50px;
	padding: 12px 40px;
	margin-top: 24px;
	color: #000;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
	transition: ease-in-out .5s;
}

.carousel-top__item__main-link:hover {
	color: #fff;
	background-color: #000;
}

.carousel-top__item__link {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: relative;
	z-index: 1;
	justify-content: center;
	align-items: center;
	margin: 0 6px;
	color: #000;
	transition:all linear .3s;
	display: inline-flex;
	opacity: 0;
}

.carousel-top__item__link:hover {
	color: #000;
	text-decoration: none;
}

.carousel-top__item:hover .carousel-top__item__link {
	display: inline-flex;
	opacity: 1;
}

/*.header__menu__wrapper__nav {
	margin-bottom: 0;
	
}*/



.header-main__navbar-nav > li > a,
.header-main__navbar-nav__label, 
.header-main__navbar__logo-wrapper {
	font-size: 14px;
	display: inline-flex;
	align-items: center;
	color: #c0bfbf;
	padding: 0 15px;
	min-height: 80px;
	height: 60px; /* for ie */
}

.header-main__navbar-nav__dropdown-menu {
	top: 0;
	padding: 20px;
	border: 1px solid #232323;
	line-height: 2;
	list-style: none;
	display: none;
	z-index: 9999;
	background-color: #000;
}

 .header-main__navbar-nav__dropdown-menu a{
	margin: 0;
	color: #c0bfbf;
	font-size: 14px;
}

.header-main__navbar-nav__hover-item:hover .header-main__navbar-nav__dropdown-menu {
	display: block;
}

.header__menu__wrapper > label {
	color: #c0bfbf;
}

#nav-toggle {
	display: none;
}

.sidenav {
	background: #000;
	width: 320px;
	padding: 40px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	overflow-y: scroll;
	height: 100vh;
	display: none;
	transition: left 5s linear;
}

#nav-toggle:checked + .sidenav {
	display: block;
}

.sidenav__logo {
	margin-top: 16px;
	width: 20px;
}

.sidenav__links-wrapper a, .sidenav__links-wrapper label{
	display: block;
	font-size: 11px;
	color: #fff;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #232323;
}

#sidenav-toggle {
	display: none;
}

#sidenav-toggle2 {
	display: none;
}

.sidenav__links-wrapper__dropdown-menu {
	padding: 4px 0 4px 16px;
	list-style: none;
	display: none;

}

#sidenav-toggle:checked + .sidenav__links-wrapper__dropdown-menu {
	display: block;
}

#sidenav-toggle2:checked + .sidenav__links-wrapper__dropdown-menu {
	display: block;
}

.sidenav__links-wrapper__dropdown-menu a {
	color: #8d8d8d;
	display: block;
	font-size: 11px;
	margin-top: 10px;
}

.sidenav__form {
	margin-top: 50px;
}

.sidenav__form__search-input {
	background-color: #000;
	outline: none;
	border: none;
	display: block;
	width: 100%;
	color: #8d8d8d;
}

.sidenav__form__search-input:focus {
	background-color: #000;
	border: none !important;
	outline: none !important;
}

.sidenav__social-wrapper {
	margin-top: 32px;
	font-size: 11px;
}

.sidenav__social-wrapper a {
	margin-right: 32px;
}

.sidenav p {
	color: #c0bfbf;
	margin-top: 32px;
	font-size: 12px;	
}

.sidenav p span {
	color: #8d8d8d;
}

/* intro settings */


.section-intro p {
	width: 75%;
	color: #c0bfbf;
	margin-bottom: 0;

}

/* gallery */

.gallery img {
	max-width: 100%;
	height: auto;
	width: 100%;
	object-fit: cover;
	transition: 1s;
}

.card-img-overlay {
    opacity: 0;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	
    transition: 0.5s ease;
}

.card:hover .card-img-overlay {
	opacity: 1;
	background: rgba(0,0,0,0.7);	
}

.gallery__link-icon {
	color: #75ff75;
	line-height: 0;
}

.gallery__link-icon:hover {
	color: #75ff75;
}

.services .services__wrapper i {
	color: #ffc500;
	font-size: 32px;
}

.services .services__wrapper p {
	font-size: 30px;
	font-weight: 100;
	margin-top: 20px;
	margin-bottom: 0;
}

.services .services__wrapper a {
	color: #6f6f6f;
	text-decoration: underline;
	margin-top: 20px;
	display: inline-block;
	transition: .5s;
}

.services .services__wrapper a:hover {
	color: #ffc500;
	text-decoration: none;
}

.section-download {
	background: url(../img/bg/bg-download.jpg) no-repeat center / cover;
	margin-top: 155px;
}

.section-download__block {
	padding: 150px 0;
	background: rgba(0,0,0,0.8);
	margin: 150px 0;
}

.section-categories img {
	max-width: 100%;
	height: auto;
}

.section-categories__img-overlay {
	text-align: center;
	padding: 50px;
	position: absolute;
	background-color: #000;
	z-index: 2;
}

.section-works__text-wrapper p:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	transform: translateY(-50%);
	border-top: 2px solid #FFC500;
	width: 20px;
	margin-right: 20px;
}

.carousel-section-reviews__item img, .carousel-section-reviews__item__icon-wrapper {
	width: 50px;
	max-width: 50px;
	height: 50px;
	border-radius: 100%;
}

.section-faq__toggle, .section-faq__text {
	width: 100%;
	border: 1px solid #232323;
	padding: 20px;
	margin-bottom: 0;
	cursor: pointer;
}

.section-faq__toggle:after {
	content: "+";
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 5%;
	color: #999;
}

#section-faq__toggle1,
#section-faq__toggle2,
#section-faq__toggle3,
#section-faq__toggle4,
#section-faq__toggle5 {
	display: none;
}

.section-faq__text {
	display: none;
}

#section-faq__toggle1:checked + .section-faq__text {
	display: block;
}

#section-faq__toggle2:checked + .section-faq__text {
	display: block;
}

#section-faq__toggle3:checked + .section-faq__text {
	display: block;
}

#section-faq__toggle4:checked + .section-faq__text {
	display: block;
}

#section-faq__toggle5:checked + .section-faq__text {
	display: block;
}

.section-contact__input, .section-contact__textarea {
	padding: 40px 30px;
	background: transparent;
	border-color: #282828;
	border-radius: 0;
	color: #fff;
	margin-bottom: 0;
}

.section-contact__textarea {
	resize: none;
}

.section-contact__input:focus, .section-contact__textarea:focus {
	background: transparent;
}

input,
textarea,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-size: 16px;
}

.section-contact label {
	font-size: 14px;
	color: #FFC500;
}

.footer-main a{
	color: #A1A0A0;
}

.footer-main a:hover{
	color: #FFC500;
}

.footer-main__input {
	width: 70%;
	border-color: #404040;
	background-color: transparent;
	border-radius: 0;
}

.footer-main__input:focus {
	background-color: transparent;
}

@media (max-width: 575px) /*xs*/ {
	.header-main__navbar-nav li {
    	display: none;
    }

	.font-size-40 {
		font-size: 40px;
	}

	.font-size-18 {
		font-size: 18px;
		
	}

	.font-weight-300 {
		font-weight: 300;
	}

	.card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

	.mb-105 {
		margin-bottom: 105px;
	}

	.services p {
		font-size: 18px;
	}

	.services .services__wrapper p {
		font-size: 18px;
	}

	.mt-75 {
		margin-top: 75px;
	}

	.px-50 {
		padding: 0 50px;
	}

	.font-size-25 {
		font-size: 25px;
	}

	.font-size-33 {
		font-size: 33px;
	}

	.my-100 {
		margin: 100px 0;
	}

	.py-100 {
		padding: 100px 0;
	}

	.font-size-25 {
		font-size: 25px;
	}

	.mt-100 {
		margin-top: 100px;
	}

	.font-size-27 {
		font-size: 27px;
	}

	.mt-20 {
		margin-top: 20px;
	}
}

@media (min-width: 576px) /*sm*/ {
	.card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .header-main__navbar-nav li {
    	display: none;
    }

	.font-size-sm-60 {
		font-size: 60px;
	}

	.font-size-sm-27 {
		font-size: 27px;
	}

	.global-subheading {
		font-size: 18px;
	}

	.gallery__subtitle {
		font-size: 55px;
	}

	.mb-105 {
		margin-bottom: 105px;
	}

	.section-download__block {
		width: 510px;
		height: 645px;
	}

	.p-sm-100 {
		padding: 100px;
	}

	.font-size-sm-45 {
		font-size: 45px;
	}

	.font-weight-300 {
		font-weight: 300;
	}

	.font-size-sm-45 {
		font-size: 45px;
	}

	.my-100 {
		margin: 100px 0;
	}

	.py-100 {
		padding: 100px 0;
	}

	.mt-100 {
		margin-top: 100px;
	}

	.mt-80 {
		margin-top: 80px;
	}

	.font-size-27 {
		font-size: 27px;
	}

	.mt-20 {
		margin-top: 20px;
	}
}

@media (min-width: 768px) /*md*/ {
	.font-size-md-130 {
		font-size: 130px;
	}
	
	.gallery__subtitle {
		font-size: 130px;
	}

	.font-size-md-55 {
		font-size: 55px;
	}

	.font-weight-md-200 {
		font-weight: 200;
	}

	.section-download__block {
		padding: 100px 0;
		margin: 100px 0;
	}

	.font-size-md-60  {
		font-size: 60px;
	}

	.my-100 {
		margin: 100px 0;
	}

	.font-size-md-75 {
		font-size: 75px;
	}

	.mt-md-150 {
		margin-top: 150px;
	}

	.mt-80 {
		margin-top: 80px;
	}

	.mt-md-75 {
		margin-top: 75px;
	}

	.font-size-md-20 {
		font-size: 20px;
	}
}

@media (min-width: 992px) /*lg*/ {
	.card-columns {
	        -webkit-column-count: 2;
	        -moz-column-count: 2;
	        column-count: 2;
	}

    .header-main__navbar-nav li  {
			display: block;
	}

	.font-size-lg-90 {
		font-size: 90px;
	}

	.mt-lg-105 {
		margin-top: 105px;
	}	

	.font-size-lg-130 {
		font-size: 130px;
	}

	.section-download__block {
		padding: 150px 0;
		margin: 150px 0;
	}

	.font-weight-lg-200 {
		font-weight: 200;
	}

	.ml-lg-15 {
		margin-left: 15px;
	}

	.my-lg-150 {
		margin: 150px 0;
	}

	.py-lg-150 {
		padding: 150px 0;
	}

	.py-lg-200 {
		padding: 200px 0;
	}
}

@media (min-width: 1200px) /*xl*/ {
	.card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .font-weight-xl-200 {
    	font-weight: 200;
    }
}


